.App {
  font-family: sans-serif;
  text-align: center;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Lato:wght@700&family=Montserrat&family=Shadows+Into+Light&family=Source+Sans+Pro&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Shadows Into Light", cursive;
}

:root {
  /* --width-break: 600px; */
}

body {
  background-color: #f87171;
  /* display: flex;
  justify-content: center; */
  max-width: 500px;
  margin: auto;
}

input {
  padding: 1rem;
  width: 80%;
  border-radius: 50px;
}

h1 {
  margin: 3rem 0;
}

h3 {
  margin-top: 30px;
}
